@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: 'Din Condensed';
  text-transform: uppercase;
  margin: 0;
  max-width: 1105px;
}

#main {
  /* background-image: url(./bkg/bkg.jpg); */
}

.title {
  color: white;
  font-size: 6.5rem;
  padding: 0.5rem 0.75rem 0 1.5rem;
  margin-bottom: -1.25rem;
}

.grid-container {
  border-radius: 1.5rem;
  padding: 1.5rem;
  background-color: white;
  /* margin-left: 1rem; */
  margin: auto;
  min-height: 940px;
  width: 1010px;
}

.grid-row {
  display: grid;
  grid-template-columns: 4rem 7rem 46rem 6rem;
  max-height: 7rem;
  align-items: center;
  margin-bottom: 0.35rem;
}

.small {
  font-size: 2em;
}

.bold {
  font-weight: bold;
}

.event-title {
  margin-left: 1rem;
  align-self: baseline;
}

.time {
  font-size: 2.3em;
}

.icon {
  margin: auto;
  max-width: 5.5rem;
}

img.icon {
  display: block;
  padding-bottom: 1em;
}

.day {
  font-size: 5em;
}

.spacer {
  max-height: 0.6em;
}

